:root {
    font-size: 62.5%;

    --default-green: #1db954;
	--light-green: #1ed760;
    --footer-gray: #282323;
    --bg-header: rgba(0, 0, 0, 0.6);
}

@media(min-width: 768px) {
    /* header */
    .fa-bars, .fa-solid {
        display: none;
    }

    .header {
        justify-content: space-between;
        padding-left: 8rem;
        padding-right: 8rem;
    }

    .navMenuDesktop {
        display: flex;
    }

    .menuDesktop {
        display: flex;
        gap: 2rem;
    }

    .menuDesktopItem {
        color: white;
        font-weight: bold;
        cursor: pointer;
    }

    .menuDesktopItem:hover {
        color: var(--default-green);
        transition: all .3s;
    }

    .menuDesktopItem:nth-child(3) {
        border-right: 1px solid white;
        padding-right: 2rem;
    }

    /* main */
    .titleMain {
        font-size: 4rem;
    }
    
    .subtitleMain {
        font-size: 1.5rem;
    }

    .btnMain {
        font-size: 1.5rem;
        width: 30rem;
    }

    /* footer-1 */
    .footer-1 {
        display: flex;
        align-items: first baseline;
        justify-content: space-between;
        padding-left: 8rem;
        padding-right: 8rem;
        padding-bottom: 0;
    }

    .footerLargerScreens {
        display: flex;
        align-items: first baseline;
        gap: 4rem;
    }

    .wrapFooterFirstPart {
        gap: 4rem;
    }

    /* footer-2 */
    .footer-2 {
        padding-left: 8rem;
        padding-right: 8rem;
    }

    .footerBottomItems {
        display: flex;
        gap: 2rem;
    }
}

@media(min-width: 1024px) {
    /* header */
    .logo {
        width: 12rem;
    }

    /* main */
    .titleMain {
        font-size: 5rem;
    }
    
    .subtitleMain {
        font-size: 2rem;
    }

    .btnMain {
        font-size: 2rem;
        width: 40rem;
    }

    /* footer-1 */
    .logo-footer {
        width: 10rem;
    }

    .footer-menu {
        font-size: 1.5rem;
    }
    
    .footer-menu-item {
        font-size: 1.5rem;
    }

    .fa-brands {
        font-size: 2rem;
    }

    /* footer-2 */
    .textFooterBrazil {
        font-size: 1.5rem;
    }

    .textFooter-2 {
        font-size: 1.5rem;
    }

    .textFooterCopyright {
        font-size: 1.5rem;
    }
    
    .brazilFlag {
        width: 3rem;
    }
}

@media(min-width: 1300px) {
    .header {
        padding-left: 20rem;
        padding-right: 20rem;
    }
    
    .footer-1 {
        padding-left: 20rem;
        padding-right: 20rem;
    }

    .footer-2 {
        padding-left: 20rem;
        padding-right: 20rem;
    }
}

@media(min-width: 1440px) {
    .header {
        padding-left: 24rem;
        padding-right: 24rem;
    }
    
    .footer-1 {
        padding-left: 24rem;
        padding-right: 24rem;
    }

    .footer-2 {
        padding-left: 24rem;
        padding-right: 24rem;
    }
}