* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    list-style: none;
}

:root {
    font-size: 62.5%;

    --default-green: #1db954;
	--light-green: #1ed760;
    --footer-gray: #282323;
    --bg-header: rgba(0, 0, 0, 0.6);
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    background-color: gray;
}

.hide {
    display: none;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--bg-header);
    padding: 2rem 0;
}

.logo {
    width: 10rem;
    cursor: pointer;
}

.fa-bars {
    color: white;
    font-size: 2.5rem;
    cursor: pointer;
}

.main {
    background-image: url("/assets/bg-spotify.webp");
    background-size: cover;
    background-position: center;
    padding: 23rem 2rem;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.titleMain {
    color: white;
    font-size: 3rem;
}

.subtitleMain {
    color: white;
    font-size: 1rem;
}

.btnMain {
    color: white;
    background-color: var(--light-green);
    padding: 1rem 3rem;
    border-radius: 5rem;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    width: 20rem;
    margin: 0 auto;
}

.footer-1, .footer-2 {
    background-color: black;
    padding: 1rem;
}

.logo-footer {
    width: 7rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.wrapFooterFirstPart {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.company, .communities, .useful-links {
    line-height: 3rem;
}

.footer-menu {
    color: var(--footer-gray);
    text-transform: uppercase;
    font-size: 1rem;
}

.footer-menu-item {
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.footer-menu-item:hover {
    color: var(--default-green);
    transition: all .3s;
}

.social-media {
    display: flex;
    justify-content: right;
    gap: 2rem;
}

.fa-brands {
    color: white;
    background-color: var(--footer-gray);
    padding: 1rem;
    border-radius: 50%;
    font-size: 1.5rem;
    cursor: pointer;
}

.fa-brands:hover {
    color: var(--default-green);
}

.wrapBrazilFlag {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.textFooterBrazil {
    color: var(--footer-gray);
    font-size: 1rem;
}

.textFooterBrazil:hover {
    color: var(--default-green);
    transition: all .3s;
}

.textFooter-2 {
    color: var(--footer-gray);
    font-size: 1rem;
    line-height: 3rem;
    cursor: pointer;
}

.textFooter-2:hover {
    color: var(--default-green);
    transition: all .3s;
}

.textFooterCopyright {
    color: var(--footer-gray);
    font-size: 1rem;
    line-height: 3rem;
}

.brazilFlag {
    width: 2.5rem;
    border-radius: 0.5rem;
}

.wrapFooterSecondPart {
    display: flex;
    justify-content: space-between;
}